/AULA 01.2/Exercicio-01/nbproject/private/
/AULA 01.2/Exercicio-01/build/
/AULA 01.2/Exercicio-02/nbproject/private/
/AULA 01.2/Exercicio-03/nbproject/private/
/AULA 01.2/Exercicio-04/nbproject/private/
/AULA 01.2/Exercicio-02/build/
/AULA 01.2/Exercicio-03/build/
/AULA 01.2/Exercicio-04/build/
/AULA 01.3/Exercicio-01/nbproject/private/
/AULA 01.3/Exercicio-01/build/
/AULA 01.3/Exercicio-02/nbproject/private/
/AULA 01.3/Exercicio-02/build/
/AULA 01.3/Exercicio-03/nbproject/private/
/AULA 01.3/Exercicio-03/build/
/AULA 01.3/Exercicio-04/nbproject/private/
/AULA 01.3/Exercicio-04/build/
/AULA 01.5/Exercicio-01/nbproject/private/
/AULA 01.5/Exercicio-01/build/
/AULA 01.5/Exercicio-02/nbproject/private/
/AULA 01.5/Exercicio-02/build/
/AULA 01.5/Exercicio-03/nbproject/private/
/AULA 01.5/Exercicio-03/build/
/AULA 01.5/Exercicio-04/nbproject/private/
/AULA 01.5/Exercicio-04/build/
/AULA 02.1/Exercicio-01/nbproject/private/
/AULA 02.1/Exercicio-01/build/
/AULA 02.1/Exercicio-02/nbproject/private/
/AULA 02.1/Exercicio-03/nbproject/private/
/AULA 02.1/Exercicio-03/build/
/AULA 02.1/Exercicio-04/nbproject/private/
/AULA 02.2/Exercicio-01/nbproject/private/
/AULA 02.2/Exercicio-01/build/
/AULA 02.2/Exercicio-02/nbproject/private/
/AULA 02.2/Exercicio-02/build/
/AULA 02.2/Exercicio-03/nbproject/private/
/AULA 02.2/Exercicio-03/build/
/AULA 02.2/Exercicio-04/nbproject/private/
/AULA 02.2/Exercicio-04/build/
/AULA 02.4/Exercicio-01/nbproject/private/
/AULA 02.4/Exercicio-01/build/
/AULA 02.4/Exercicio-02/nbproject/private/
/AULA 02.4/Exercicio-02/build/
/AULA 02.4/Exercicio-03/nbproject/private/
/AULA 02.4/Exercicio-03/build/
/AULA 02.4/Exercicio-04/nbproject/private/
/AULA 02.4/Exercicio-04/build/
/AULA 02.4/Exercicio-05/nbproject/private/
/AULA 02.4/Exercicio-05/build/
/AULA 04/Exercicio-1/nbproject/private/
/AULA 04/Exercicio-1/build/
/AULA 04/Exercicio-02/nbproject/private/
/AULA 05/ProjetoCrud/nbproject/private/
/AULA 05/Exercicio-01/build/
/AULA 04/Exercicio-01/nbproject/private/
/AULA 04/Exercicio-02/build/
/AULA 05/Exercicio-02/nbproject/private/
/AULA 04/Exercicio-01/build/