/AULA 01.2/Exercicio-01/nbproject/private/
/AULA 01.2/Exercicio-01/build/
/AULA 01.2/Exercicio-02/nbproject/private/
/AULA 01.2/Exercicio-03/nbproject/private/
/AULA 01.2/Exercicio-04/nbproject/private/
/AULA 01.2/Exercicio-02/build/
/AULA 01.2/Exercicio-03/build/
/AULA 01.2/Exercicio-04/build/
/AULA 01.3/Exercicio-01/nbproject/private/
/AULA 01.3/Exercicio-01/build/
/AULA 01.3/Exercicio-02/nbproject/private/
/AULA 01.3/Exercicio-02/build/
/AULA 01.3/Exercicio-03/nbproject/private/
/AULA 01.3/Exercicio-03/build/
/AULA 01.3/Exercicio-04/nbproject/private/
/AULA 01.3/Exercicio-04/build/